export("%^%", "%u%", "%\\%")
export(tile.axes, xdev2in, ydev2in, xydev2in)
export(abbr_to_colClass)
export(sanitize2)
export(create_quantiles, to.pct,
       nx.mlt, divide, dol.form,
       ntostr, embed.mat)
export(get_age, quick_year, quick_yday, quick_mday)
export(write.packages, stale_package_check)

importFrom(stats, quantile)

importFrom(utils, sessionInfo)
importFrom(graphics, par)

importFrom(data.table, data.table, foverlaps)
importFrom(data.table, .BY, ':=')
