export("%\\%")
export(tile.axes, xdev2in, ydev2in, xydev2in)
export(embed.mat)
export(get_age, quick_year, quick_yday, quick_mday)
export(stale_package_check)

importFrom(graphics, par)
importFrom(data.table, fcase)
